<!DOCTYPE html>
<html lang="en" ng-app="beamngMusicPlayer">
<head>
    <meta charset="UTF-8">
    <title>BeamNG Music Player</title>
    <link rel="stylesheet" href="music_player.css">
</head>
<body ng-controller="MusicPlayerController">

    <div class="player-container">
        <div class="track-info">
            <h2 id="songTitle">{{ currentTrack.title }}</h2>
            <p id="songArtist">{{ currentTrack.artist }}</p>
            <p id="songAlbum">{{ currentTrack.album }}</p>
        </div>

        <div class="controls">
            <button id="prevTrack" ng-click="prevTrack()" ng-disabled="!systemActive || !ignitionOn || !currentTrack.title || currentTrack.title === 'System Off' || currentTrack.title === 'Ignition Off'">Previous</button>
            <button id="playPause" ng-click="playPause()" ng-disabled="!systemActive || !ignitionOn || !currentTrack.title || currentTrack.title === 'System Off' || currentTrack.title === 'Ignition Off'">{{ isPlaying ? 'Pause' : 'Play' }}</button>
            <button id="nextTrack" ng-click="nextTrack()" ng-disabled="!systemActive || !ignitionOn || !currentTrack.title || currentTrack.title === 'System Off' || currentTrack.title === 'Ignition Off'">Next</button>
        </div>

        <div class="modes">
            <button id="shuffle" ng-click="toggleShuffle()" ng-class="{active: isShuffleOn}" ng-disabled="!systemActive || !ignitionOn">Shuffle</button>
            <button id="repeat" ng-click="toggleRepeat()" ng-disabled="!systemActive || !ignitionOn">Repeat: {{ repeatMode }}</button>
        </div>

        <div class="volume-control">
            <label for="volumeSlider">Volume:</label>
            <input type="range" id="volumeSlider" min="0" max="1" step="0.01" ng-model="volume" ng-change="setVolume()" ng-disabled="!systemActive || !ignitionOn">
        </div>
    </div>

    <!-- Basic notification display -->
    <div ng-if="notification.visible" class="notification {{notification.type}}">
        {{notification.message}}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="music_player.js"></script>
</body>
</html>
